* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* header{
    background-color: lightseagreen;
}

footer{
    background-color: lightcoral;
} */

body {
    height: 300vh;
}

.card {
    border: 2px solid black;
    margin: auto;
    text-align: center;
    padding: 1% 2%;
    width: 60%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.card p {
    padding-top: 5%;
}

.banner {
    background-color: red;
}

.banner-scroll {
    background-color: blue;
    height: 3vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
